        <turbo-frame id= <%=dom_id(wish_list.variant)%> >
          <% variant = wish_list.variant %>
          <% product = variant.product %>
          <div class="wish-list-item general-box">

            <div class="wish-list-image">
              <% if product.product_images.any? %>
                <%= image_tag product.product_images.first.image, alt: product.title, class: "wish-list-product-image" %>
              <% end %>
            </div>

            <div class="wish-list-info">
              <p class="wish-list-product-title"><%= link_to product.title, product_path(product), data: { turbo_frame: "_top" }
               %></p>
              <p class="wish-list-variant-title"><%= variant.title %></p>
              <p class="wish-list-price"><%= convert_from_cents(variant.price) %> EUR</p>
            </div>

            <div class="wish-list-actions-col">
              <div class="increase-decrease-cart">
                <%= button_to "-", wish_list_path(wish_list), method: :patch,
                    params: { variant_id: wish_list.variant.id, quantity: wish_list.quantity.to_i - 1 }, class: "qty-button" %>
                <p class="cart-quantity"><%= wish_list.quantity %></p>
                <%= button_to "+", wish_list_path(wish_list), method: :patch,
                    params: { variant_id: wish_list.variant.id, quantity: wish_list.quantity.to_i + 1 }, class: "qty-button" %>
              </div>

              <div class="cart-variant-limit">
                <p><%= wish_list.variant.stock %> in Stock</p>
              </div>

              <%= button_to "Add To Cart", cart_items_path, method: :post, class: "wish-list-add-btn",
                  params: { variant_id: wish_list.variant.id, quantity: wish_list.quantity } %>

              <%= button_to "Remove", wish_list_path(wish_list), method: :delete, class: "wish-list-remove" %>
            </div>

          </div>
        </turbo-frame>