
<% if @cart_items.any? %>
    <div id="cart-items-container">
        <% @cart_items.each do |variant, quantity| %>
            <turbo-frame id="<%=dom_id(variant)%>">
                
                <div class="cart-item">
                    <div style="display:flex; justify-content:space-between;">
                        <p class="title"><%= variant.product.title %> (<%= variant.title %>) </p>
                        <%= button_to "x", remove_cart_item_path, method: :delete,
                        params: {variant_id: variant.id}, class: "remove-button"
                        %>
                    </div>
                    

                    <div  class="cart-product-price" >
                        <p> <%= convert_from_cents(variant.price) %> </p> 
                        <p> EUR </p>
                    </div>

                    <%= render 'cart_total', variant: variant, quantity: quantity %>
                </div>
            </turbo-frame>
        <% end %>
    </div>

    
<% else %>
    <h2> Your cart is empty </h2>
    <p> Add some products <%= link_to "by clicking here", products_path %> <p>
<% end %>