
<turbo-frame id="<%= dom_id(variant, :increase) %>"> 
    <div>
        
        <div class="increase-decrease-cart">
            <%= button_to "-", cart_item_path, method: :patch,
                params: { variant_id: variant.id, quantity: quantity.to_i - 1 }, class: "qty-button" %>

            <p class="cart-quantity"><%= quantity %> </p> 

            <%= button_to "+", cart_item_path, method: :patch,
                params: { variant_id: variant.id, quantity: quantity.to_i + 1 }, class: "qty-button" %>
        </div>
        <div class="cart-variant-limit">
             <p><%= variant.stock %> in Stock </p>    
        </div>
    </div>
</turbo-frame>