<!-- app/views/carts/show.html.erb -->

<div id="cart-container" data-controller="price">
    <% if flash[:alert] %>
  <div class="flash-alert">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>
    
    <%= render "carts/cart" %>

    <div id="checkout-info">

        <div id="cart_summary" class="general-box" style="display: flex;">
            <p>  Cart Summary: </p>
            <p data-price-target="price"> </p>
        </div>

    
        <%= form_with url: orders_path do |form| %>
            <div class = "general-box">
                <label for="email"> Email </label>
                <%= form.email_field :email %>
            </div>
        
            <div id="payment-method">
                <p>You will be redirected to Stripe's secure checkout to complete payment.</p>
            </div>

            <%= form.submit "Purchase" %>
         <% end %>

    </div>
        
</div>
