        <div class="general-box" style="display: flex" >
          <div class="cart-instant">
            <%= form_with url: cart_items_path, method: :post do |form| %>
              <%= form.hidden_field :variant_id, data: { product_view_target: "addToCartVariantId" } %>
              <%= form.hidden_field :quantity, value: 1, data: { product_view_target: "addToCartQuantity" } %>
              <%= form.hidden_field :email, value: "email@email", data: { product_view_target: "addToCartEmail" } %>
                <%= form.submit "Add to Cart" %>
            <% end %>
          </div>

          <div class="wish-list">
            <%= form_with model: WishList.new, url: wish_lists_path, method: :post do |form| %>
              <%= form.hidden_field :quantity, value: 1 , data: { product_view_target: "addToWishListQuantity" }%>
              <%= form.hidden_field :variant_id ,         data: { product_view_target: "addToWishListVariantId" }%>
              <%= form.submit "❤️" %>
            <% end %>
          </div>
        </div>