

<h3> <%= link_to "View product", dashboard_product_view_path(@product) %> </h3> 

<% if flash[:fail_edit] %>
    <p> <%= flash[:fail_edit]  %></p>
<% end %>

<%= form_with model: @product, multipart: true  do |form| %>

    <div>
        <%= form.label :stock %> <br>
        <%= form.number_field :stock  %>
    </div>

    <div>
        <%= form.label :pricing %> <br>
        <%= form.number_field :pricing, placeholder: "0.00", step: :any, min: 0 %>
    </div>

    <details open>
        <summary> General </summary>
        <div>
            <%= form.label :visibility %> <br>
            <%= form.select  :visibility, 
            [["Live", "live"], 
            ["Hidden", "hidden"], 
            ["Private", "private"], 
            ["On Hold", "on_hold"]]  %>
        </div>

        <div>
            <%= form.label  :title, "Product title" %> <br>
            <%= form.text_field :title %>
        </div>

        <div id="edit-description">
            <%= form.label :description %> <br>
            <%= form.textarea  :description %>
        </div>


    </details>

    <details>
        <summary>Checkout</summary>
        <div>
            <%= form.label :payment_type %> <br>
            <%= form.select :payment_type,
            [ ["Single Payment", "single_payment"],
            ["Subscription", "subscription"],
            ["Pay What You Want", "any"] ]%>
        </div>
        
        <div>
            <%= form.label :deliverables %> <br>
            <%= form.select :deliverables,
            [ ["Static Value", "static"],
            ["License Key", "licence"],
            ["Unique Codes & Serials", "serial"]
            ]
            %>
        </div>
    </details>

    <details>
        <summary>Media</summary>
        <div>
            <%= form.label :product_images, "Product Images" %> <br>
            <%= form.fields_for :product_images do |image_form| %>
                <div style="border: 1px solid #ccc; padding: 10px; margin: 10px 0;">

                        <% if image_form.object.image.attached? %>
                            <%= image_tag image_form.object.image, style: "max-width: 200px;" %>
                            <div>
                                <%= image_form.label :image, "Change Image" %> <br>
                                <%= image_form.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
                            </div>

                            <div>
                                <%= image_form.label :_destroy, "Remove this image" %>
                                <%= image_form.check_box :_destroy %>
                            </div>

                        <% else %>
                             <%= image_form.label :image, "Upload Image" %> <br>
                            <%= image_form.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
                
                        <% end %>

                    <div>
                        <%= image_form.label :priority, "Priority (1 = main)" %> <br>
                        <%= image_form.number_field :priority, value: 1 %>
                    </div>
                    
                    
                </div>
            <% end %>
        </div>
    </details>

    <%= form.submit %>

<% end %>