

<div id="product-index-page">


  </div>

  <div id="search-bar-container">
    <%= form_with url: products_path, method: :get do |form| %>
        <%= form.text_field :product_name %>
        <%= form.submit "Search" %>
    <% end %>
  </div>

  <div id="product-container">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: "product-box" do %> 

        <div class="image-container">
          <% product.product_images.each do |image| %>
              <%= image_tag image.image, alt: product.title %>
              <% break %> <%# Break for now%>
          <% end %>
        </div>

        <div class="title-box">
          <p class="product-title"><%= product.title %></p>
        </div>

        <div class="text-container">
            <!--I don't like the approach here. Fix later.-->
            <% stock = 0 %>
            <% product.variants.each do |variant| %>
                  <% stock += variant.stock %>
            <% end %>

            <p class="product-price"> <%= convert_from_cents(product.variants.minimum(:price)) %> EUR </p>
            <p class="product-stock"> <%= stock %> in stock </p>
        </div>
      <% end%>

    <% end %>
  </div>

</div>