

<div id="product-index-page">

  <div id="search-bar-container">
    <%= form_with url: products_path, method: :get do |form| %>
        <%= form.label :product_name, "What you're looking for?" %> <br>
        <%= form.text_field :product_name %>
        <%= form.submit "Search" %>
    <% end %>
  </div>

  <div id="product-container">
    
    <% @products.each do |product| %>
      <div class="product-box">
    
        <div class="product-box-image-container">
          <% product.product_images.each do |image| %>
              <%= image_tag image.image, alt: product.title, style: "max-width: 300px;" %>
              <% break %> <%# Break for now%>
          <% end %>
        </div>

        <p><%= link_to product.title, product_path(product) %> </p>

        <div class="product-box-text-container">
          
          <% stock = 0 %>
          <% product.variants.each do |variant| %>
            <% stock += variant.stock %>
          <% end %>
          <p> <%= convert_from_cents(product.variants.minimum(:price)) %> EUR </p>
          <p> <%= stock %> in stock </p>
          
        </div>

      </div>
    <% end %>

  </div>

</div>