
<%= link_to "← Back to products", products_path, class: "product-back-link" %>
<div id="product-view-container">
  
  

  <div id="product-view-first-column">
    <p class="title">
      <%= @product.title %>
    </p>

    <div id="product-image-container">
      <% @product.product_images.each do |image| %>
          <%= image_tag image.image, alt: @product.title %>
          <% break %>
      <% end %>
    </div>

    <p class="description"> 
      <%= @product.description %>  
    </p>
    
  </div>

  <div id="product-view-second-column">

      <div id="product-variant-container">
        <% @product.variants.each do |variant| %>
          <% next if variant.stock <= 0 %>
          <div class="product-separate-variant">
            <div class="variant-info">
              <p><%= variant.title %></p>
              <p class="variant-description"><%= variant.description %></p>
              <p class="variant-price"><%= convert_from_cents(variant.price) %> EUR</p>
            </div>

            <div class="variant-actions">
              <%= form_with url: cart_items_path, method: :post do |f| %>
                <%= f.hidden_field :variant_id, value: variant.id %>
                <%= f.hidden_field :quantity, value: 1, min: 1, max: variant.stock %>
                <%= f.submit "Add To Cart" %>
              <% end %>
              <p class="variant-stock"><%= variant.stock %> in stock</p>
            </div>
          </div>
          
       
          
        <% end %>

         
      </div>

  </div>

</div>