<turbo-frame id="saved-message">
</turbo-frame>


<%= link_to "← Back to products", products_path, class: "product-back-link" %>
<div id="product-view-container" data-controller="product-view">
  
  

  <div id="product-view-first-column">
    <p class="title">
      <%= @product.title %>
    </p>

    <div id="product-image-container">
      <% @product.product_images.each do |image| %>
          <%= image_tag image.image, alt: @product.title %>
          <% break %>
      <% end %>
    </div>

    <div class="description"> 
      <%= raw markdown(@product.description) %>  
    </div>
    
  </div>

  <div id="product-view-second-column" >

      <div id="instant-payment" data-product-view-target="entireDiv" hidden>

        <%= form_with do |form|%>
          <div class="general-box" id="quantity-change">
              <p data-product-view-target="price">  </p>

              <div style="display: flex">
                <button type="button" data-action="click->product-view#decrease" class="increase-decrease"> - </button>
                  <%= form.number_field :quantity, max: 1, value: 1, min: 1,
                  readonly: true,
                  data: {product_view_target: "variantMax",
                  action: "change->product-view#update_quantity",
                  } %>

                  <button type="button" data-action="click->product-view#increase" class="increase-decrease"> + </button>
               </div>
          </div>
        <% end %>
        
        <%# Instant buy with Stripe %>
        <div class="stripe-instant">
          <%= form_with url: orders_path, method: :post, data: { turbo: false } do |form| %>
            <%= form.hidden_field :variant_id, data: { product_view_target: "stripeVariantId" } %>
            <%= form.hidden_field :quantity, value: 1, data: { product_view_target: "stripeQuantity" }%>
          
            <div class="general-box">
              <%= form.label :email %>
              <%= form.email_field :email, placeholder: "Enter your email", required: true,
                  maxlength: 255,
                  minlength: 5 %>
            </div>
            
            <div class="general-box">
              <%= button_tag type: 'submit', class: 'stripe-button' do %>
                <%= image_tag 'stripe.png', class: 'stripe-logo', alt: 'Pay with Stripe' %>
              <% end %>
              <p class="payment-methods">
                Pay by card, Venmo, Apple Pay, Google Pay
              </p>
            </div>
            
          <% end %>
        </div>

        <%# Code is up, just needs tweaking %>
        <%# Uncomment product_view_controller.js or wont work as intended %>
        <%# render '/products/more_checkout_options' %>

      </div>

      <div>
        <%= form_with local: true do |form| %>
          <% @product.variants.each do |variant| %>
            <% next if variant.stock <= 0 %>

              <label class="product-separate-variant">
                <%= form.radio_button :product_id, variant.id, 
                  data: {action: "change->product-view#update_form_values",
                  stock: variant.stock,
                  variant_id: variant.id,
                  product_id: @product.id,
                  price: variant.price,
                  selected: false,
                  } %>
                  <div class="variant-info">
                    <p><%= variant.title %></p>
                    <p class="variant-description"><%= variant.description %></p>
                    <p class="variant-price"><%= convert_from_cents(variant.price) %> EUR</p>
                  </div>
                  
                  <div class="variant-actions">
                    <p class="variant-stock"><%= variant.stock %> in stock</p>
                  </div>
              </label>
          <% end %>
        <% end %>
      </div>

  </div>

</div>